.calc{
  width: 320px;
  margin: 70px auto;
}
.ca-number-display-container {
    display: table;
    width: 320px;
    height: 21%;
    min-height: 37px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    background-color: black;
  }
.ca-number-display-text {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  text-align: right;
  color: white;
  font-size: xx-large;
  padding-right: 9%;
  font-weight: lighter;
  font-family: Roboto-Regular,helvetica,arial,sans-serif;
}
.ca-numberpad-container {
  display: table;
  width: 320px;
  height: 80%;
  table-layout: fixed;
}
.ca-number-display {
  width: 100%;
}
.ca-row-container {
  display: table-row;
  margin: 0;
  padding: 1px;
}
.ca-item-container {
  display: table-cell;
  border: 1px solid #9f9f9f;
  transition: opacity .2s ease;
}
.ca-button {
  display: table;
  text-align: center;
  background-color: gray;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.ca-button:hover {
  opacity: 1;
}
.ca-button-text {
  display: table-cell;
  font-size: x-large;
  vertical-align: middle;
  font-family: Roboto-Regular,helvetica,arial,sans-serif;
  padding: 10px;
}
.operator {
  background-color: #9b99a0;
  color: white;
}
.number {
  background-color: #f0f0ff;
  color: black;
}
.unary-operator {
  background-color: #f0f0ff;
}
.operator,
.number,
.unary-operator{
  opacity: .6;
  transition: opacity .2s ease;
}
